<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Snacks Home</title>
</head>
<body>
    <h1>Snacks Home Page</h1>
    <div>
        <a href="/snacks/index">Show All Snack Reviews</a>
    </div>
    <div>
     <a href="/snacks/new">Create a New Snack Review</a>
     </div>
</body>
</html>
