<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/"/>
    <title>all the snacks!</title>
</head>
<body>
  <header>
    <a href="/">Home</a>
    <a href="/snacks/new">New Snacks</a>
  </header>
  <h1>Crystal's Snack Reviews</h1>
  <h2><%= snack.name %></h2>
  <p><%= snack.review_description %></p>
  <a href="snacks/<%= snack.id %>/edit">Edit</a>
  <a href="snacks/<%= snack.id %>/delete">Delete</a>
</body>
</html>
